@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex: 0 0 auto;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
img{
    max-width: 100%;
    /* padding: 20px; */
}
li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
    padding-left: 30%;
}
.col-4{
    width: 25%;
    padding: 15px;
}
.col-3{
    width: 33.33%;
    padding: 15px;
}
h1{
    padding-right: 60px;
    font-size: 63px;
    margin: 20px 0px;
}
h1 span{
    color: #21b573;
}
p{
    color: #6c6b6b;
    line-height: 2.3;
    /* max-width: 80%; */
    margin-bottom: 35px;
}
.heading{
    margin-bottom: 30px;
    font-size: 24px;
    color: #413960;
}
.heading h2{
    text-align: center;
}
.pad-y{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Banner-section */
.banner-section{
    background: #f0fff0;
}
header{
    padding: 15px;
}
.logo{
    width: 20%;
    padding: 15px;
}
.logo a{}
.logo a img{}
nav{
    width: 80%;
    flex: 0 0 auto;
    padding: 25px 10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 10px 25px;
    /* background: #21b573; */
    border-radius: 30px;
    display: block;
    transition-duration: 0.3s;
    font-weight: 700;
    margin-left: 10px;
}
nav ul li a:hover{
    background: #21b573;
    color: #fff;
}

.banner-content{
    width: 50%;
    padding: 15px;
}
.banner-content h4{
    color: #fd511a;
    font-size: 22px;
}

.btn{
    color: #fff;
    font-size: 20px;
    padding: 9px 24px;
    background: #21b573;
    border-radius: 30px;
    border: 1px solid #21b573;
    display: inline-block;
    transition-duration: 0.3s;
}
.btn:hover{
    background: transparent;
    border: 1px solid #21b573;
    color: black;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    padding: 20px;
} 

/* Banner-section */
.feature-section{
    padding: 50px 0px 20px;
}
.feature{
    padding: 45px 10px;
    text-align: center;
    background: honeydew;
    border-radius: 10px;
    /* box-shadow: 0px 15px 40px 0px #00000040; */
    transition-duration: 0.3s;
}
.feature:hover{
    box-shadow: 0px 15px 40px 0px #00000040;
    background: white;
}
.feature img{
    height: 80px;
    margin-bottom: 12px;
}
.feature h3{
    font-size: 20px;
}
.feature p{
    text-align: center;
    margin: 0px;
    /* padding: 0px; */
    font-size: 14px;
}

/* Course-section */
.course-section{
    padding: 30px 0px;
}
.course{
    box-shadow: 0px 15px 40px 0px #00000040;
    padding: 21px 21px;
    border-radius: 15px;
}
.course img{}
.course h3{
    font-size: 21px;
    margin: 10px 0px;
}
.course span{
    display: block;
    margin-bottom: 10px;
}
.course .btn{
    color: #fff;
    font-size: 16px;
    padding: 5px 20px;
    background: #21b573;
    border-radius: 30px;
    border: 1px solid #21b573;
    display: inline-block;
    transition-duration: 0.3s;
    margin: 10px 0px;
}
.course .btn:hover{
    background: transparent;
    border: 1px solid #21b573;
    color: black;
}
.course ul{
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 8px;
}
.course ul li{
    /* justify-content: space-between; */
}
.course ul li i{
    margin-right: 8px;
}

/*testimonial-section */
.testimonial-section{
    padding: 40px 0px;
}
.client-img{
    width: 13%;
    margin-right: 50px;
}
.client-img img{
    /* max-width: 20%; */
}
.client-text{
    width: 60%;
}
.client-text p{
    margin: 0px;
    color: black;
    font-weight: 600;
    font-size: 15px;
}
.testimonial-section .flex{

justify-content: center;

align-items: center;

padding: 35px 0px;
}

/*footer-section */
footer{
    background: #282531;
    padding: 40px 0px 0px;
    color: white;
}
footer p{
    color: white;
    font-size: 15px;
}
footer ul{}
footer li{
    color: white;
    margin-bottom: 15px;
}
footer ul li strong{
    display: block;
    padding: 7px 0px;
}
footer ul li a{
    color: white;
}
footer ul li a:hover{}
.copyright{
    padding-bottom: 15px;
    padding-top: 30px;
    /* padding: 0px; */
    margin: 0px;
    text-align: center;
    font-size: 14px;
}
.copyright a{
    color: white;
}
.copyright a:hover{}

